html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 100%;
  background-color: #f6f6fe;
  padding: 62px 25px 50px;
  text-align: center;
  background-image: url("/images/bg-top.svg");
  background-position: 50vw -10vw;
  background-repeat: no-repeat;
}

@media (min-width: 769px) {
  main {
    background-image: url("/images/bg-top.svg"), url("/images/bg-bottom.svg");
    background-position: right top, left bottom;
  }
}

main .bg-top {
  position: absolute;
  top: -4%;
  left: 52%;
  width: 48vw;
  overflow: hidden;
}

main .bg-bottom {
  display: none;
}

main > h1 {
  color: #6d708d;
  margin-bottom: 37px;
}

main .plan-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

@media (min-width: 1025px) {
  main .plan-btn {
    margin-bottom: 60px;
  }
}

main .plan-btn > p {
  font-size: 15px;
  color: #b3b5c6;
}

main .plan-btn .toggle-btn {
  position: relative;
  width: 57px;
  height: 34px;
  background: linear-gradient(135deg, #a3a8f0, #696fdd);
  border-radius: 30px;
  margin: 0 23px;
  cursor: pointer;
}

@media (min-width: 1025px) {
  main .plan-btn .toggle-btn:hover {
    opacity: 0.7;
  }
}

main .plan-btn .toggle-btn.active .circle {
  left: 5px;
}

main .plan-btn .toggle-btn .circle {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
}

main .hero {
  width: 100%;
}

@media (min-width: 481px) {
  main .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1025px) {
  main .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .hero .card {
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 32px 25px 30px;
  margin-bottom: 35px;
  cursor: pointer;
}

@media (min-width: 481px) {
  main .hero .card {
    width: 430px;
  }
}

@media (min-width: 1025px) {
  main .hero .card {
    width: 352px;
  }
}

main .hero .card.active {
  background: linear-gradient(135deg, #a3a8f0, #696fdd);
}

@media (min-width: 1025px) {
  main .hero .card.active {
    padding: 55px 25px;
  }
}

main .hero .card.active > h2 {
  color: #f6f6fe;
}

main .hero .card.active > h3 {
  color: #f6f6fe;
}

main .hero .card.active > p {
  color: #f6f6fe;
  border-top: 1.5px solid #a3a8f0;
}

main .hero .card.active > p.border-bottom {
  border-bottom: 1.5px solid #a3a8f0;
}

main .hero .card.active > button {
  background: #f6f6fe;
  color: #696fdd;
}

@media (min-width: 1025px) {
  main .hero .card.active > button:hover {
    background: transparent;
    border: 1px solid #f6f6fe;
    color: #f6f6fe;
  }
}

main .hero .card > h2 {
  font-size: 19px;
  color: #6d708d;
  margin-bottom: 20px;
}

main .hero .card > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  color: #494c5f;
  margin-bottom: 20px;
}

main .hero .card > h3 > span {
  font-size: 70px;
  margin-left: 6px;
}

main .hero .card > p {
  border-top: 1.5px solid #e4e4ec;
  padding: 20px 0;
  font-size: 15px;
  color: #6d708d;
}

main .hero .card > p.border-bottom {
  border-bottom: 1.5px solid #e4e4ec;
  margin-bottom: 30px;
}

main .hero .card > button {
  width: 100%;
  height: 45px;
  background: linear-gradient(135deg, #a3a8f0, #696fdd);
  border: none;
  border-radius: 5px;
  color: #f6f6fe;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (min-width: 1025px) {
  main .hero .card > button:hover {
    background: transparent;
    border: 1px solid #6d708d;
    color: #696fdd;
  }
}
/*# sourceMappingURL=style.css.map */